<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Customers</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>

        <div class="container text-center">

            <hr />
            <!--/* Title / Header */-->
            <div class="row">
                <div class="col-2">
                    <img src="/images/bfhLogo.png" th:src="@{/images/bfhLogo.png}" th:width="${uiHelper.getImageWidth('bfhLogo.png')}" th:height="${uiHelper.getImageHeight('bfhLogo.png')}" alt="" />
                </div>
                <div class="col-8">
                    <h1>Webshop</h1>
                </div>
            </div>

            <hr />
            <!--/* Navigation */-->
            <div class="row">
                <div class="col-12 text-center">
                    <a th:href="@{/}" class="btn btn-primary btn-sm buttonWidthMenu">Index</a>
                    <a th:href="@{/customers}" class="btn btn-primary btn-sm buttonWidthMenu">Customers</a>
                    <a th:href="@{/newCustomer}" class="btn btn-primary btn-sm buttonWidthMenu">New customer</a>
                </div>
            </div>

            <hr />
            <!--/* Subtitle */-->
            <h2 class="text-center">Customers</h2>

            <hr />

            <!--/* Search fields */-->
            <div class="row text-left">
                <div class="col-1">
                    &nbsp;
                </div>
                <div class="col-3">
                    <input id="searchByFirstName" class="form-control" type="text" placeholder="First name">
                </div>
                <div class="col-3">
                    &nbsp;
                </div>
                <div class="col-3">
                    &nbsp;
                </div>
            </div>

            <!--/* 'Table' header */-->
            <div class="row text-left">
                <div class="col-1">
                    <b>Id</b>
                </div>
                <div class="col-3">
                    <b>First name</b>
                </div>
                <div class="col-3">
                    <b>Last name</b>
                </div>
                <div class="col-3">
                    <b>Email</b>
                </div>
            </div>

            <!--/* 'Table' records */-->
            <div id="records">
                <div th:each="customer : ${customers}" class="row mb-1 text-left">
                    <div class="col-1">
                        <span th:text="${customer.getId()}"></span>
                    </div>
                    <div class="col-3">
                        <span th:text="${customer.getFirstName()}"></span>
                    </div>
                    <div class="col-3">
                        <span th:text="${customer.getLastName()}"></span>
                    </div>
                    <div class="col-3">
                        <span th:text="${customer.getEmail()}"></span>
                    </div>
                    <div class="col-2 text-right">
                        <a th:href="'/editCustomer/' + ${customer.getId()}" class="btn btn-outline-primary btn-sm buttonWidthSquare" role="button"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a th:href="'/deleteCustomer/' + ${customer.getId()}" class="btn btn-outline-primary btn-sm buttonWidthSquare" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>


            <!--/* 'Dynamic' search using JavaScript and REST controller */-->
            <div id="searchResult">

            </div>

        </div>

        <script src="/js/customers.js"></script>

    </body>
</html>